<!-- <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active" >welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/searchpage']" routerLinkActive="active" >Search Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favouritepage']" routerLinkActive="active" >Favourite Page</a>
      </li>
      </ul>
    
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <a class="navbar-brand" href="#">Bank-Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-lg-auto ml-md-0">
  
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/searchpage']" routerLinkActive="active">Search Page</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favouritepage']" routerLinkActive="active">Favourite Page</a>
        </li> -->
  
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
 

  

<!-- <search-page></search-page> -->